.help-image  {
	max-width: 20%;
	margin-top: 2em;
	float: left;
}

.help-right {
	float: right;
	width: 70%;
}


.card {
	width: 18rem;
}

.timestamp {
	color: gray;
	font-size: .8em;
}

.store-container {
	margin-bottom: 2em;
}

.store-header {
	border: 1px black solid;
	padding: 1em;
	border-radius: 4px;
}

@media only screen and (max-width: 650px)  {
  .help-image {
    display: block;
    clear: both;
    width: 100%;
    max-width: 100%;
  }

  .help-right {
		width: 100%;
	}
}

