.card {
	max-width: 345px;
	display: inline-block !important;
}	

.media {
	max-width: 90%;
	margin: 1em;
	text-align: center;
	/*height: 0;*/
	/*padding-top: 56.25%;*/
}

.move-down {
	margin-top: 2em;
}

.margin-2{
	margin: 2em;
}

.store-header {
	text-align: left;
	margin: 2em;
}