img {
	max-width: 20%;
	margin-top: 3em;
	float: left;
}

.blog-right {
	float: right;
	width: 70%;
	margin-top: 1em;
}


.card {
	width: 18rem;
}

.timestamp {
	color: gray;
	font-size: .8em;
}

#blog-container {
	margin: 2em 0 2em 0;
}

.like-span {
	margin-left: -33%;
}

.sort-buttons {
	position: absolute;
	right: 4em;
	top: 4em;
	margin-bottom: 2em;
}