img {
	max-width: 20%;
	margin-top: 3em;
	float: left;
}

.blog-right {
	float: right;
	width: 70%;
	margin-top: 1em;
}


.card {
	width: 18rem;
}

.timestamp {
	color: gray;
	font-size: .8em;
}

#blog-container {
	margin: 2em 0 2em 0;
}

.like-span {
	margin-left: -33%;

}

.text-editor {
	box-sizing: border-box;
	outline: 1px solid black;
	min-height: 12em;
	cursor: text;
	padding: 16px;
	margin: 2em;
	box-shadow: inset 0px 1px 8px -3px #ABABAB;
	background: #fefefe;
	border: 1px solid #ddd;
	position: relative;
	text-align: left;
}

.toolbar {
	position: absolute;
  bottom: 0;		
}