img {
	max-width: 20%;
	margin-top: 3em;
	float: left;
}

.blog-right {
	float: right;
	width: 70%;
	margin-top: 1em;
}


.card {
	width: 18rem;
}

.timestamp {
	color: gray;
	font-size: .8em;
}

#blog-container {
	margin: 2em 0 2em 0;
}

.like-span {
	margin-left: -33%;

}

.text-editor {
	box-sizing: border-box;
	outline: 1px solid black;
	min-height: 12em;
	cursor: text;
	padding: 16px;
	margin: 2em;
	box-shadow: inset 0px 1px 8px -3px #ABABAB;
	background: #fefefe;
	border: 1px solid #ddd;
	position: relative;
	text-align: left;
}

.toolbar {
	position: absolute;
  bottom: 0;		
}

.blog-show > ol, ul {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.blog-show > ol > li {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.blog-show > ul > li {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}


.blog-show li:last-child {
  border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
}
