.tab {
  padding: 10px !important;
}

.Company-Name {
  height: 50px;
  margin: -7px 0 0 -2px;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 40px;
  /*padding-left: 1em;*/
  margin: 10px 1em 1em 1em;
}

.App-Bar {
  margin-bottom: 1em;
}

