/*.nav {
	border-radius: 0;
	margin-bottom: 0;
	background: white;
}

.navbar-brand {
	padding: 1px;
	max-height: 300px;	
  	cursor: pointer;
}

.navbar-brand > img {
  display: inline !important;
  max-height: 2em;
  vertical-align: middle;
}

.navbar-brand > img:nth-of-type(2) {
  padding-left: .8em;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}*/