.nav {
	border-radius: 0;
	margin-bottom: 0;
	background: white;
}

/*#logo {
	max-height: 100%;
	height: 400px;
	margin: none !important;
	display: inline;
	height: 100%;
	max-width: 100% !important;
	margin-top: 0 !important;
}*/

.navbar-brand {
	padding: 1px;
	max-height: 300px;
}
/*.navbar-brand>img {
  padding: 7px 14px;
}*/